.home .custom .features
  border-top: none
  margin-top: 0

.pixel-helper
  &__image
    width: 60%
.pixel-helper__pin-extension
  display: flex
  gap: 12px
  padding-top: 16px
  &-image
    flex: 1
  &-tip
    display: inline-block
    width 100%
    text-align: center
